<section class="footer">
    <div class="footer_div">
        <img src="/images/footer.png" alt="">
    </div>
    <br>
    <div class="para2">
        <p>2022-2023 © Weather. All rights reserved.</p>
    </div>
</section>